{{ define "main" }}
  {{ partial "page-header" . }}


  <section class="section pb-0">
    <div class="container">
      <h1
        class="max-w-4xl mx-auto pb-14 text-center"
        data-aos="fade-up-sm"
        data-aos-delay="100">
        {{ .Params.services.title | markdownify }}
      </h1>
      <div
        class="row g-4 divide-x-border responsive-mb"
        data-aos="fade-up-sm"
        data-aos-delay="200">
        {{ range .Pages }}
          {{ partial "components/service-cart" . }}
        {{ end }}
      </div>
    </div>
  </section>

  {{ with .Params.choose_our_service }}
    <section class="section pb-0">
      <div
        class="bg-shape-top-right py-20 lg:py-24 2xl:py-32"
        {{ partial `bg-image.html` (dict `Src` "images/bg-shape.png" ) | safeHTMLAttr }}>
        <div class="container relative z-10">
          <h2 class="h1 pb-14 text-center" data-aos="fade-up-sm">
            {{ .title | markdownify }}
          </h2>
          <div class="row g-4" data-aos="fade-up-sm" data-aos-delay="100">
            {{ range .service_item }}
              <div class="sm:col-6 lg:col-4">
                <div class="rounded-xl overflow-hidden shadow bg-white">
                  {{ partial "image" (dict "Src" .image "Alt" "image" "Class" "w-full") }}
                  <div class="p-5 sm:p-8">
                    <h5 class="pb-4">{{ .title | markdownify }}</h5>
                    <p>{{ .description | markdownify }}</p>
                  </div>
                </div>
              </div>
            {{ end }}
          </div>
        </div>
      </div>
    </section>
  {{ end }}


  <section class="section">
    {{ with .Params.pricing }}
      <div class="max-w-xl mx-auto mb-8">
        <h2 class="h1 pb-4 text-center mx-auto" data-aos="fade-up-sm">
          {{ .title | markdownify }}
        </h2>
        <p class="text-center" data-aos="fade-up-sm" data-aos-delay="50">
          {{ .description | markdownify }}
        </p>
      </div>
    {{ end }}
    {{ partial "components/pricing-plan.html" . }}
  </section>

  <!-- Call to action -->
  {{ partial "call-to-action.html" . }}
  <!-- /Call to action -->
{{ end }}
