.rounded-sm {
  @apply rounded-[4px];
}
.rounded {
  @apply rounded-[6px];
}
.rounded-lg {
  @apply rounded-[12px];
}
.rounded-xl {
  @apply rounded-[16px];
}

.shadow {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.bg-gradient {
  @apply max-w-[1680px] rounded-2xl mx-auto bg-gradient-to-b from-secondary to-theme-light/80 relative overflow-hidden;
  &::before {
    @apply content-[''] absolute top-[-160px] left-[-80px] w-[700px] h-[700px] rounded-full block bg-white/40;
  }
  &::after {
    @apply content-[''] absolute bottom-[-200px] right-[-200px] w-[500px] h-[500px] rounded-full block bg-white/40;
  }
}

.bg-shape-top-right {
  @apply max-w-[1680px] mx-auto bg-theme-light rounded-lg relative overflow-hidden;
  background-position: right -14rem top -14rem !important;
  background-size: auto !important;
}
.bg-shape-top-left {
  @apply max-w-[1680px] mx-auto bg-theme-light rounded-lg relative overflow-hidden;
  background-position: left -14rem top -14rem !important;
  background-size: auto !important;
}

.investment-bg {
  @apply relative inline-block;
  &::before {
    @apply content-[''] absolute top-[-1%] left-[11%] w-[68%] h-[86%] rounded-xl bg-primary -z-10;
  }
}

.cta-bg {
  @apply relative w-80 h-80 md:w-96 md:h-96 m-auto rounded-lg mb-10 lg:mb-0 flex items-center justify-center;
  &::before {
    @apply content-[''] absolute top-0 left-0 w-full h-full bg-primary rounded-full;
  }
}

.investment-container:nth-child(odd) {
  @apply flex-row-reverse;
}

.investment-container {
  @apply pb-24;
  &:last-child {
    @apply pb-0;
  }
}

/* Apply colors using :nth-child */
.colored-box-icon {
  & > div:nth-child(6n + 1) .color-text {
    @apply text-red-500;
  }

  & > div:nth-child(6n + 2) .color-text {
    @apply text-green-500;
  }
  & > div:nth-child(6n + 3) .color-text {
    @apply text-yellow-500;
  }

  & > div:nth-child(6n + 4) .color-text {
    @apply text-purple-500;
  }
  & > div:nth-child(6n + 5) .color-text {
    @apply text-sky-500;
  }
  & > div:nth-child(6n + 6) .color-text {
    @apply text-blue-500;
  }

  & > div:nth-child(6n + 1) .color-box {
    @apply bg-red-100;
  }
  & > div:nth-child(6n + 2) .color-box {
    @apply bg-green-100;
  }
  & > div:nth-child(6n + 3) .color-box {
    @apply bg-yellow-100;
  }

  & > div:nth-child(6n + 4) .color-box {
    @apply bg-purple-100;
  }
  & > div:nth-child(6n + 5) .color-box {
    @apply bg-sky-100;
  }
  & > div:nth-child(6n + 6) .color-box {
    @apply bg-blue-100;
  }
}

.person-img:hover img {
  height: 210px;
}
.person-img img {
  height: 270px;
  transition: 0.5s;
  object-fit: contain;
}

.case-studies-content img {
  @apply w-full;
}

.selected-position {
  @apply bg-primary text-white py-3 rounded;
}

.copyright {
  & > a {
    @apply underline transition duration-300;
    &:hover {
      @apply text-primary;
    }
  }
}

.widget-list {
  li {
    a {
      @apply border-b border-border;
    }

    &:last-child {
      a {
        @apply border-0;
      }
    }
  }
}

.responsive-mb {
  & > div:last-child {
    @apply mb-0;
  }
  @screen sm {
    & > div:nth-last-child(-n + 2) {
      @apply mb-0;
    }
  }
  @screen lg {
    & > div:nth-last-child(-n + 3) {
      @apply mb-0;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .divide-x-border > div {
    @apply border-r border-border;
  }

  .divide-x-border > div:nth-child(3n) {
    @apply border-none;
  }
}

@media only screen and (max-width: 1023px) {
  .divide-x-border > div {
    @apply border-r border-border;
  }

  .divide-x-border > div:nth-child(2n) {
    @apply border-none;
  }
}
@media only screen and (max-width: 539px) {
  .divide-x-border > div {
    @apply border-none;
  }
}


// animation
[data-aos="fade-up-sm"] {
  transform: translateY(25px);
  opacity: 0;
  transition-property: transform, opacity;
  &.aos-animate {
    transform: translateY(0);
    opacity: 1;
  }
}
[data-aos="fade-left-sm"] {
  transform: translateX(25px);
  opacity: 0;
  transition-property: transform, opacity;
  &.aos-animate {
    transform: translateX(0);
    opacity: 1;
  }
}
[data-aos="fade-right-sm"] {
  transform: translateX(-25px);
  opacity: 0;
  transition-property: transform, opacity;
  &.aos-animate {
    transform: translateX(0);
    opacity: 1;
  }
}